*{
    margin: 0px;
    padding: 0%;
}

.imgWXHL{
    position: absolute;
    left: -0px;
    top: -0px;
    width: 100%;
}

.imgSZJM{
    position: absolute;
    left: -0px;
    top: -0px;
    height: 100%;
}

.imgMatrix{
    position: absolute;
    left: -20px;
    top: -30px;
    height: 120%;
}

.imgLowpoly{
    position: absolute;
    left: 0px;
    top: 24px;
    width: 100%;
}

.imgUniformBezier{
    position: absolute;
    left: -5px;
    top: 6px;
    height: 87%;
}

.imgEasecurve{
    position: absolute;
    left: 32px;
    top: 0px;
    height: 100%;
}

.imgAlterful{
    position: absolute;
    left: -133px;
    top: 0px;
    height: 120%;
}

.imgMiniTask{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}

.imgATP{
    position: absolute;
    left: 7px;
    top: 36px;
    width: 97%;
}

.imgTraderHelper{
    position: absolute;
    left: 7px;
    top: 36px;
    width: 97%;
}

.top{
    margin: auto;
    text-align: center;
    background-color: #eee;
    /*background-image: url("..\\imgs\\top.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;*/
    /*background-position: center;*/
    /*|percentage|cover|contain;*/
    background-size: percentage;
    height: 390px;
    overflow: hidden;
}

.topLink{
    position: relative;
    z-index: 999;
    display: flex;
    /*background-image: linear-gradient(to right, rgba(255, 0, 0, 0.144) , rgba(0, 0, 0, 0));*/
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.144) , rgba(0, 0, 0, 0));
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    position: absolute;
    top: -10px;
    right: 0px;
    padding-right: 60px;
    top: 0px;
}

.topLink a{
    user-select: none;
    color: rgba(248, 248, 248, 1);
    margin: 15 0 10 60;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.topCenter{
    position: relative;
    /*background-color: red;*/
}

.topPText{
    user-select: none;
    position: absolute;
    text-align: center;
    top: 100px;
    left: -50px;
    font-size: 250px;
    font-style: italic;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.025);
}

.topCenter img{
    user-select: none;
    margin-top: 45px;
    border-radius: 50%;
    width: 100px;
}

.topName{
    font-size: 18px;
    color: #fff;
    margin: 20px;
}

.topDescription{
    font-size: 14px;
    color: #ccc;
    margin: 20px;
    margin-bottom: 24px;
}

.ChapterTitle{
    user-select: none;
    position: relative;
    margin: auto;
    width: 95%;
    display: block;
    font-size: 30px;
    font-weight: 600;
}

.ChapterTitle p{
    display: inline-block;
}

.rightTipText{
    font-size: 16px;
    color: #ccc;
    font-weight: 540;
    position: absolute;
    right: 15px;
    top: 12px;
}

.subTitle{
    display: inline-block;
    font-style: italic;
    font-size: 24px;
    /*color: #ccc;*/
}

div > div > p{
    margin: 40 0 20 0;
}

.decLine{
    position: absolute;
    width: 555px;
    height: 12px;
    top: 67px;
    left: -100px;
    z-index: -1;
    background-image: linear-gradient(to left, rgba(68,165,249,1), rgba(255, 255, 255, 0));
}

.projects .context{
    /*margin: 0 5 0 5;*/
    margin: auto;
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: 95%;
}

.projectBox{
    position: relative;
    /* 屏幕宽小于1440时应变为50% */
    /* 屏幕宽小于965时应变为100% */
    width: 33.33%;
    min-width: 469px;
    /*max-width: 503px;*/
    /*padding: 10 15 10 10;*/
}


.diyScrollBar{
    overflow-x: scroll;
}

/* 宽度大于1234px时视为电脑访问，显示自定义滚动条 */
@media screen and (min-width: 1234px){
    .diyScrollBar::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 10px;
        /*高宽分别对应横竖滚动条的尺寸*/
        height: 10px;
    }
    .diyScrollBar::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 10px;
        background-color: #8d8d8d2c;
        /*background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);*/
    }
    .diyScrollBar::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.02);
        background: #ffffff00;
    }
}

.scrollableIcon{
    visibility: hidden;
}
/* 宽度小于1234px时不显示滚动条，显示可拖动的提示图标 */
@media screen and (max-width: 1234px){
    /*
    .scrollableIcon{
        visibility: visible;
    }
    */
}

@media screen and (max-width: 1500px) { 
    .projectBox{
    position: relative;
    /*屏幕宽小于1440时应变为50%*/
    width: 50%;
    min-width: 469px;
    }
    /*
    #scrollIcon{
        overflow-x: scroll;
    }
    #scrollPost{
        overflow-x: scroll;
    }
    #scrollUI{
        overflow-x: scroll;
    }
    #scrollPhotography{
        overflow-x: scroll;
    }
    #scrollPainting{
        overflow-x: scroll;
    }
    */
}
@media screen and (max-width: 1025px) { 
    .projectBox{
        position: relative;
        /*屏幕宽小于965时应变为100%*/
        width: 100%;
        min-width: 469px;
    }
}

.projectFrame{
    position: relative;
    /*
    display: block;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    */
}

.project{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 245px;
    padding: 15px;
}

.projectContent{
    position: relative;
    display: flex;
    border: solid;
    border-radius: 10px;
    /*border-color: royalblue;*/
    border-color: rgba(204, 204, 204, 0.75);
    border-width: 1px;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 7px 10px #eee;
}

.imgContainer{
    position: relative;
    /*
    width: 55%;
    min-width: 246px;
    max-width: 257px;
    */
    width: 255px;
    height: 100%;
    margin: 0;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
}

.desContainer{
    position: relative;
    left: 0px;
    width: 45%;
    /*min-width: 211px;*/
    height: 100%;
    /*background-color: #eee;*/
}

.projectTitle{
    position: relative;
    z-index: 2;
    margin: 15 0 15 20;
    font-weight: 900;
    font-size: 22px;
    color: #333;
}

.projectDescription{
    z-index: 2;
    margin: 5 15 20 20;
    font-weight: 500;
    font-size: 14px;
    color: #777;

}

.projectDetail{
    /*display: none;*/
    transform:rotate(17deg);
    position: absolute;
    width: 80px;
    height: 80px;
    right: -36px;
    top: -50px;
    border-radius: 40%;
    /*background-color: #ddd;*/
    cursor: pointer;
}

.projectDetailButton{
    /*display: none;*/
    z-index: 1;
    position: absolute;
    left: -42px;
    bottom: -46px;
    margin: 0px;
    font-size: 52px;
    font-weight: 1000;
    padding: 4px;
    border: solid 4px rgba(233, 36, 36, 0.075);
    /*color: rgba(238, 238, 238, 0.575);*/
    color: rgba(233, 36, 36, 0.075);
    /*cursor: pointer;*/
}

.detailButton{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 20;
    display: block;
    width: 80px;
    height: 24px;
    border: solid;
    border-radius: 4px;
    border-color: royalblue;
    border-width: 1px;
    background-color: #ddd;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
}

.longArea{
    width: 100%;
    overflow: hidden;
}

.designBox{
    /*width: 9999px;*/
    padding: 9px 60px;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    vertical-align:middle;
}

.scrollBox{
    /*width: 9999px;
    height: 120px;*/
    overflow: hidden;
}

.scrollContent{
    -webkit-transition: left 0.5s ease;
    /*width: 9999px;*/
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align:middle;
}

.designPicDiv{
    user-select: none;
    margin: 20px;
    width: 220px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 7px #ccc;
}

.designPicDiv img{
    width: 220px;
}

.LogoPicDiv{
    user-select: none;
    margin: 0px 20px 12px 20px;
    height: 90px;
}

.LogoPicDiv img{
    height: 90px;
}

.IconPicDiv{
    user-select: none;
    margin: 0 0 12px 0;
    height: 90px;
}

.IconPicDiv img{
    height: 90px;
    margin: 0 22px;
}

.PostPicDiv{
    user-select: none;
    /*margin: 24px;*/
    height: 240px;
    margin-top: 0px;
    border-radius: 10px;
    margin-bottom: 12px;
}

.PostPicDiv img{
    height: 240px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px #ccc;
    margin: 0 24px;
}

.UIPicDiv{
    user-select: none;
    margin: 0px 24px 0px 24px;
    height: 500px;
    /*transform:rotate(7deg);*/
}

.UIPicDiv img{
    height: 500px;
    border-radius: 10px;
}

.PhotographyPicDiv{
    user-select: none;
    margin: 0px 18px 7px 18px;
    height: 300px;
}

.PhotographyPicDiv img{
    height: 300px;
}

.PaintPicDiv{
    user-select: none;
    margin: 0px 18px 7px 18px;
    height: 300px;
}

.PaintPicDiv img{
    height: 300px;
}

.WaitingBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding: 0px 60px;
}

.linkBox{
    margin: 16px;
}

.linkBox img{
    height: 16px;
    vertical-align: middle;
}

.WaitingBox a{
    user-select: text;
    z-index: 999;
    color: rgb(34, 34, 34);
    cursor: pointer;
}

@media screen and (max-width: 1300px){
    .PaintPicDiv{
        height: 240px;
    }
    .PaintPicDiv img{
        height: 240px;
    }
    .PhotographyPicDiv{
        height: 240px;
    }
    .PhotographyPicDiv img{
        height: 240px;
    }
    .UIPicDiv{
        height: 360px;
    }
    .UIPicDiv img{
        height: 360px;
    }
    .PostPicDiv{
        height: 240px;
    }
    .PostPicDiv img{
        height: 240px;
    }
    .LogoPicDiv{
        height: 78px;
        margin: 12px 15px 8px 15px;
    }
    .LogoPicDiv img{
        height: 78px;
    }
    .IconPicDiv{
        height: 78px;
        margin: 12px 0px 12px 0px;
    }
    .IconPicDiv img{
        height: 78px;
    }
}

@media screen and (max-width: 1025px){
    .PaintPicDiv{
        height: 200px;
    }
    .PaintPicDiv img{
        height: 200px;
    }
    .PhotographyPicDiv{
        height: 200px;
    }
    .PhotographyPicDiv img{
        height: 200px;
    }
    .UIPicDiv{
        height: 300px;
    }
    .UIPicDiv img{
        height: 300px;
    }
    .PostPicDiv{
        height: 180px;
    }
    .PostPicDiv img{
        height: 180px;
    }
    .LogoPicDiv{
        height: 60px;
        margin: 12px 15px 8px 15px;
    }
    .LogoPicDiv img{
        height: 60px;
    }
    .IconPicDiv{
        height: 60px;
        margin: 12px 0px 12px 0px;
    }
    .IconPicDiv img{
        height: 60px;
    }
}

.footer{
    background-color: #eee;
    /*height: 50%;*/
    overflow: hidden;
    position: relative;
}

.houkaifa{
    position: relative;
    margin: auto;
    text-align: center;
    padding: 50px 50px 20px 50px;
}

.houkaifa img{
    user-select: none;
    width: 64px;
    margin-bottom: 7px;
}

.houkaifa p{
    transform: scale(0.85); /* 通过设置缩放解决字体大小无法设置小于12px */
    font-size: 12px;
    margin: 10px;
    line-height: 8px;
    color: #555;
}

.footerLink{
    position: absolute;
    float: right;
    bottom: 10px;
    right: 0px;
    padding-right: 20px;
    margin-bottom: 18px;
}

.footerLink a{
    user-select: none;
    color: #ccc;
    font-weight: 600;
    margin: 15 20 10 20;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

@media screen and (max-width: 1025px){
    .footerLink{
        position: relative;
        text-align: center;
        bottom: 10px;
        float: none;
        padding-right: 0px;
        margin-bottom: 18px;
    }
    .houkaifa img{
        user-select: none;
        width: 48px;
        margin-bottom: 7px;
    }
    .houkaifa p{
        transform: scale(0.72); /* 通过设置缩放解决字体大小无法设置小于12px */
    }
    .footerLink a{
        font-size: 12px;
    }
}